# cf https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions
name: ci
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: sudo apt-get install mtools efi-shell-x64 qemu-system-x86 ovmf
      - uses: actions/checkout@v5
        with:
          submodules: true
      - uses: actions/setup-node@v5
        with:
          node-version: "24.x"
          cache: "npm"
      - run: npm ci
      - run: npm run ci
        env:
          EFI_SHELL_PATH: /usr/share/efi-shell-x64/shellx64.efi
          OVMF_PATH: /usr/share/OVMF/OVMF_CODE_4M.fd
