# cf https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions
name: ci
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: sudo apt-get update && sudo apt-get install mtools grub-efi-amd64 qemu-system-x86 ovmf sbsigntool efitools
      - uses: actions/checkout@v5
        with:
          submodules: true
      - uses: actions/setup-node@v5
        with:
          node-version: "24.x"
          cache: "npm"
      - run: npm ci
      - run: npm run ci
        env:
          OVMF_CODE_PATH: /usr/share/OVMF/OVMF_CODE_4M.secboot.fd
          OVMF_VARS_PATH: /usr/share/OVMF/OVMF_VARS_4M.fd
