# cf https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions
name: release
on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        required: true
        description: Version number (x.y.z)
jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - uses: actions/setup-node@v5
        with:
          node-version: "24.x"
          registry-url: "https://registry.npmjs.org"
          cache: "npm"
      - run: npm ci
      - run: |
          git config --global user.name github-actions
          git config --global user.email github-actions@github.com
          npm version ${{ inputs.version }}
      - run: git show HEAD
      - run: npm publish --provenance --access=public
        working-directory: dist
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - run: git push origin main v${{ inputs.version }}
